/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-form-field, .mat-card, .mat-button {
  margin: 8px;
}
@media (max-width: 600px) {
  mat-header-cell, mat-cell {
    min-width: 100px;
    word-wrap: break-word;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.todo-card {
  width: 100%;
  max-width: 500px;
  padding: 8px;
}

.todo-card2 {
  width: 100%;
  max-width: 900px;
  padding: 8px;
  overflow: auto;
}

body {
  background-color: #676a6e;
}